.new_nav {
    width: 100%;
    height: 40px;
    background-color: #f4a950;
    position: relative;
    top: 90px;
    padding: 8px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}

.new_nav .nav_data{
    display: flex;
    justify-content:space-between;
}

.new_nav .nav_data .left_data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.new_nav .nav_data .left_data p{
    color: #fff;
    font-size: 14px;
}
.new_nav .nav_data .left_data li {
    list-style: none;
}
.new_nav .nav_data .left_data li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
/* media query */
@media (max-width:808px){
    
}


