
header {
    background-color: #161b21;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 99;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

header nav {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}
header nav i {
    color: #fff;
    margin-right: 10px;
    font-size: 22px;
}
header nav li {
    list-style: none;
}
header nav .dropdown-toggle::after {
    font-family: bootstrap-icons !important;
    content: "\f282";
    font-size: 14px;
    border: 0;
    vertical-align: middle;
}
.navlogo a {
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}
/* header nav .navlogo img{
    width: 110px;
    margin-top: 10px;
} */

header nav .left{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex: .7;
}



header nav .left input {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

header nav .left .search_icon {
    background-color: #f4a950;
    height: 40px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

header nav .nav_searchbaar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}
.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
/* header nav .left input:focus{
    border: 2px solid #febd69;
} */

header nav .right{
    display: flex;
    justify-content:center;
    align-items: center;
    flex: .3;
}

header nav .right .nav_btn a {
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
}

header nav .right .cart_btn {
    display: flex;
    padding: 0 8px;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

header nav .right .cart_btn #icon{
    margin-right: 10px;
    color: #fff;
    margin-top: 2px;
}

header nav .right .cart_btn p{
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-top: 11px;
    margin-right: 10px;
}

.right a{
    text-decoration: none;
    color: #fff;
}
.header-logo {
    color: #f4a950;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
.header-text-white {
    color: #fff;
}
.css-106c1u2-MuiBadge-badge {
    background-color: #f4a950 !important;
}
.css-2s90m6-MuiAvatar-root {
    background-color: #f4a950 !important;
}
header nav .avtar{
    cursor: pointer;
}
header nav .avtar2{
    cursor: pointer;
    background-color: #1365cf;
}

header .hamburgur{
    display: none;
}

header .extrasearch{
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 50px;
    width: 440px;
}

header .extrasearch a{
    text-decoration: none;
    color: #000;
}

/* drawer sty */
header nav .drawer{
    width: 250px;
}

header nav .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  header nav .navbar-links li a {
    display: block;
    transition: 0.4s all;
}
  
  header nav .navbar-links li.navbar-dropdown {
    position: relative;
  }
  
  header nav .navbar-links li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  
  header nav .navbar-links li.navbar-dropdown .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 10px 6px;
    top: 120%;
    transform: translateY(50px);
    left: 8%;
    width: 180px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 111;
    transition: 0.4s all;
  }
  header nav .navbar-links li.navbar-dropdown .dropdown a {
    padding: 6px;
    color: #161b21;
    font-size: 14px;
}
header nav .navbar-links li.navbar-dropdown .dropdown a:hover {
    padding-left: 30px;
  }
  header nav .navbar-links li.navbar-dropdown .dropdown a:hover {
    color: #f4a950;
  }
  i.bi.bi-chevron-down {
    margin: 0 6px;
    font-size: 14px;
}
@media (max-width:800px){
    header .hamburgur{
        display: block;
    }
    header nav{
        overflow: hidden;
    }
    
    header nav .left input{
        width: 150px;
        margin-left: 10px;
    }

    header nav .left input::placeholder{
        visibility: hidden;
    }
  
    header nav .right .cart_btn{
        margin-right: 0;
    }
    
    
}

@media (max-width:568px){
    header nav .navlogo img{
        width: 100px;
    }
    header nav .left input {
        width: 80px;
        margin-left: 10px;
        height: 30px;
    }
    header nav .left .search_icon {
        height: 30px;
        width: 30px;
    }

    .new_nav {
        display: block;
        padding: 6px 0;
    }
    .new_nav .nav_data .left_data li a {
        font-size: 9px;
    }
    .mobile-none {
        display: none;
    }
    header nav i {
        margin-right: 5px;
        font-size: 16px;
    }
    i.bi.bi-chevron-down {
        margin: 0 3px;
        font-size: 8px;
    }

    header nav .navbar-links li.navbar-dropdown .dropdown {
        left: 0;
        width: 70px;
    }
}